/* GENERIC */
html,body
{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    background-color: #e6e7ee!important;
    font-family: "Nunito Sans", "sans-serif"!important;
    overflow-x: hidden;
}
.shadow-inset {
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
}

.shadow-soft {
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff !important;
}
.button-input
{
    display: block;
    color: #31344b!important;
    font-size: 3rem!important;
    background-color: #e6e7ee!important;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
    
}


.h1
{
    text-align: center;
    color:#31344B;
    font-size: 2.5rem!important;
    font-weight: 400;
    padding-top: 2rem;
    padding-bottom:5rem;
    align-items: center;
}


/* ACHIVEMENTS */
.achivements-main
{
    padding-bottom: 3rem;
    text-align: center;
}

.achivements-image img
{
    margin-top: -4rem;
    margin-left:-2rem;
    text-align: center;
}

.achivements-card
{
    margin:2rem;
    width: auto;
    text-align:justify;
    
}
.achivements-card a
{
    text-decoration:none;
    color: #31344b;
}
.achivements-card a:hover
{
    text-decoration:none;
    color: #31344b;
}
.card-title
{
    font-size: 2rem;
    text-align: center;
}
.card-text
{
    font-size: 1.3rem;
    margin:1rem;
}
.achivements .button-input
{
    margin:1rem;
    display: block;
    color: #31344b!important;
    font-size: 1.1rem!important;
    background-color: #e6e7ee!important;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
}


/* CONTACTS */
.contact .button-input
{
    margin:1rem;
    display: block;
    color: #31344b!important;
    font-size: 1rem!important;
    background-color: #e6e7ee!important;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
}

.contact-image img
{
    margin-top: -2rem;
    margin-left:-2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.contact-details
{
    margin:2rem;
    margin-bottom:4rem;
}
.form-input
{
    background-color: #e6e7ee !important;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
    color: #31344b;
}

.contact-details form
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* FOOTER */

footer img
{
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
    border-radius: 100%;
    max-width:3rem;
    max-height:3rem;
} 
footer .icon
{
    margin-top:1rem;
    font-size: 1.3rem;
    color:rgb(49, 55, 117);
    
}
footer .social-icon
{
    font-size: 1.5rem;
    border-radius: 100%;
    
}
