/* Main */

body
{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;

}


.shadow-inset {
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
}
.shadow-soft {
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff !important;
}
[class*="shadow"] {
    transition: all 0.2s ease;
}


/* Contact */

.h1,h2,h3,h4,h5,h6
{
    color:#31344B;
    font-family: "Nunito Sans", "sans-serif";
    font-weight: 400;
}

p
{
    background-color: #e6e7ee;
    font-family: "Nunito Sans", "sans-serif";
    font-size: 20px;
    margin:16px;
    color: #31344b;
}
#contactme
{
    background-color: #e6e7ee;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
}
label
{
    color: #31344b;
}
.form-input
{
    background-color: #e6e7ee !important;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
    color: #31344b
}
.button-input
{
    display: block;
    color: #31344b!important;
    background-color: #e6e7ee!important;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
}

.contact
{
    padding:0px;
    margin:0px;
    display:flex;
    flex-direction: row;
    padding-bottom: 30px;

}
.contact-image img
{
    width: auto;
    height: 430px;
    background-size: contain;
    margin-left: 0px;
    margin-right:100px;
}



/* Footer */


.pt-5, .py-5 {
    padding-top: 3rem !important;
}
.p-3 {
    padding: 1rem !important;
}
.bg-soft {
    background-color: #e6e7ee !important;
}

.icon span, .icon svg {
    font-size: 2.25rem;
}
.p-1 {
    padding: 0.25rem !important;
}
.m-1 {
    margin: 0.25rem !important;
}


.icon {
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn.btn-pill {
    border-radius: 2rem;
}
.btn-icon-only {
    position: relative;
    width: 2.975rem;
    height: 2.975rem;
    padding: 0;
}
.btn {
    border-color: #D1D9E6;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
}
.mr-3, .mx-3 {
    margin-right: 1rem !important;
}
.btn {
    border: 0.0625rem solid transparent;
    border-radius: 0.55rem;
    
}

p, ol li, ul li {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
}

.social-icon
{
    transform: scale(1.5);
}
footer img
{
    height:60px;
}


/* EDUCATION */


#education
{
    background-color: #e6e7ee;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
}

.education
{
    padding:0px;
    margin:0px;
    display:flex;
    flex-direction: row;
    font-family: "Nunito Sans", "sans-serif";
    padding-bottom: 30px;

}
.education-image img
{
    width: auto;
    height: 440px;
    background-size: contain;
    margin-left:50px;
    
}
.education-details
{
    display: flex;
    flex-direction: column;
}
.education-details h2 a
{
    text-align: justify;
    padding-left:auto;
    padding-right: auto;
    color:#31344B;
    font-family: "Nunito Sans", "sans-serif";
    text-decoration: none;
}

/* About */

#about
{
    background-color: #e6e7ee;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
}

.about
{
    padding:0px;
    margin:0px;
    display:flex;
    flex-direction: row;
    font-family: "Nunito Sans", "sans-serif";
    padding-bottom: 30px;

}
.about-image img
{
    width: auto;
    height: 420px;
    background-size: contain;
    margin-left: 150px;
    margin-right:100px;
}
.about-details
{
    display: flex;
    flex-direction: column;
}
.about-details h4
{
    background-color: #e6e7ee;
    font-family: "Nunito Sans", "sans-serif";
    font-size: 21px;
    margin:20px;
    color: #44476A!important;
}

/* Skills */

#skills
{
    background-color: #e6e7ee;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
}

.skills
{
    padding:0px;
    margin:0px;
    display:flex;
    flex-direction: row;
    font-family: "Nunito Sans", "sans-serif";
    padding-bottom: 30px;

}
.skills-image img
{
    width: auto;
    height: 460px;
    margin-left: -100px;
    margin-right:120px;
}
.skills-details
{
    display: flex;
    flex-direction: column;
}

.skills-list li
{
    text-align: left;
    font-family: "Nunito Sans", "sans-serif"!important;
    list-style: none;
}
.skills-list .lis-items
{
    background-color: #e6e7ee!important;
    font-size: 21px;
    color: #44476A!important;
    margin-bottom:4px;
}

.list-image
{
    width: auto;
    height:40px;
}

